<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Gusteau</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/search/index.css">
  </head>

  <body>
    <img id="full-screen-background-image" src="/static/search/ratatouille-background.jpg">

    <div class="search-container">
        <img class="logo" src="/static/search/gusteau-2-1.png">
        <div class="search-input-area">
            <input type="text" id="search-input" autocomplete="off" spellcheck="false">
            <img id="loop" src="/static/search/loop-gray.png">
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script>$(initSearchRow);</script>

  </body>
</html>
