<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Gusteau</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/search/search.css">
  </head>

  <body>
    <div class="container">
        <div class="search-container-result">
            <div class="search-logo-container">
                <img src="/static/search/remi.gif" class="search-logo">
            </div>
            <div class="search-input-area-result">
                <input type="text" id="search-input" autocomplete="off" spellcheck="false" value="{{query}}">
                <img id="loop" src="/static/search/loop-blue-big.png">
            </div>
        </div>

        <div class="result-container" id="content">
        </div>
    </div>


    <!--Jquery-tmpl template for result-->
    {% verbatim %}
    <script id="result-tmpl" type="text/x-jquery-tmpl">
        <div class="result">
            {{if title}}
                <a class="result-title" href="${url}">${title}</a> <br/>
                <a class="result-link" href="${url}">${url}</a><br/>
            {{else}}
                <a class="result-title" href="${url}">${title}</a><br/>
            {{/if}}
            {{if image}}
                <img class="result-image" src="${image}"></img>
            {{/if}}
            ${snippet}
        </div>
    </script>

    <script id="spell-tmpl" type="text/x-jquery-tmpl">
         <p id="spell-p">Может быть вы искали: &#34;<a id="spell-link" href="/search?query=${spell}">${spell}</a>&#34; </p>
    </script>
    {% endverbatim %}
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/jquery.tmpl.min.js"></script>
    <script src="/static/js/search.js"></script>
    <script>$(initSearchRow);</script>
    <script>$(updateSearchResults);</script>
  </body>
</html>
