<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Поиск</title>

    {% load staticfiles %}
      <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static "search/index.css" %}">
      <link rel="stylesheet" href="{% static "search/search.css" %}">
  </head>

  <body>
    <div class="container">
            <form role="form" method="get" action="/search">
                <div class="input-group input-group-lg">
                   <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Найти вкусность!</button>
                   </span>

                  <input type="text" class="form-control" id="query" name="query" value="{{query}}">
                </div>
            </form>

        <div class="container" id="content">
            {% block content %}{% endblock %}
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jquery-2.1.4.min.js" %}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
